.header__lang-link{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;       
    text-align: right;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 28px;    
    margin-left: 18px;    
}

.header__lang-link:hover{
    text-decoration-line: underline;
}
    
@media (max-width: 767px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}