.lead{
    max-width: 984px;
    min-width: 320px;
    margin: 0 auto 92px; 
    padding: 0;
}

@media (max-width: 1279px) {
    .lead{
        width: 90.625vw;
    }
}
    
@media (max-width: 1023px){
    .lead{
        width: 100vw;        
        margin: 0 auto 71px;        
    }
}
    
@media (max-width: 767px) {
    .lead{
        width: 100vw;        
        margin: 0 auto 64px;        
    }
}