.place__paragraph{
    margin: 0;
    padding: 0;
    padding-bottom: 2.6em;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 163%;
    color: #FFFFFF;
}