.place__website_url-heading{
    margin: 0;
    padding: 0;
    padding-bottom: 1.2em;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}