.intro__text{
    margin: 0;
    padding: 0;
    padding-bottom: 0.33em;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 163%;
    color: #FFFFFF;
}