.cover__title{
    width: 47.3%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.31em;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 7.2em;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;   
}