.place{
    margin: 0 auto; 
    padding: 0 0 8em 0; 
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 4.0em 4.8em;
    width: 77vw;
}

.place:last-of-type{
    padding: 0;
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1024px) and (max-width:1279px){
    
}

@media (min-width: 768px) and (max-width:1023px){
    
}

@media (min-width: 320px) and (max-width:767px){
    
}
  